name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    strategy:
      matrix:
        go: [1.15, 1.17]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Build
      run: go build -v ./...

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Lint code
      # https://github.com/marketplace/actions/revive-action
      uses: docker://morphy/revive-action:v2
      with:
        config: revive.toml

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Test
      run: go test -v ./...
    
    - name: Check if app startup works
      env:
        TESTING_DIE_AFTER_INIT: 'TRUE'
        USE_TESTING_DB: 'TRUE'
      run: go run . 
